<div class="row">
  <section class="main col-md-9">
    <article>
      <h2><b>About Me</b></h2>
      <span style="font-size: large; ">
        <p>- I am an international student and currently pursuing <b>Computer Programming and Analysis</b> in <b> Seneca
            College</b>, Toronto (Canada).</p>
        <p>- I love doing paintings . I also love to develop websites on my free time.</p>
        <p>- I am a <b>professional tennis player!</b> Some of my achievements:
        <ul>
          <li><b>Participated in tennis during HBK sports league 2015</b></li>
          February, 2015</br>&nbsp;</br>
          <li><b>1<sup>st</sup> Position in drawing competition on state level
            </b></li>
          September, 2015</br>&nbsp;</br>

        </ul>
        </p>

  </section>
  <section class="location-section">
    <h1>o My Home</h1>
    <p>- I'm originally from Ahmedabad, Gujarat, <b>India.</b></p>
    <p>- I love <b>Canada</b> and I live here now.</p>
    <p>- I can speak <b>English</b>, <b>Gujarati</b> and <b>Hindi</b></p>
  </section>
  </span>
  </article>
  </section>
  <footer class="content-footer">
    <p>Stay tuned for future updates, till then, you can contact me on these sites:</p>
    <ul class="social">
      <li><a class="css-is-deranged" href="https://github.com/RiddhiPatel25" style="color: #e52ec6;">GitHub</a>
      </li>
    </ul>

  </footer>
</div>